RewriteEngine On
RewriteBase /
RewriteRule ^item/([0-9]+)$ display_item.php?id=$1
RewriteRule ^mob/([0-9]+)$ display_mob.php?id=$1
RewriteRule ^resource/([0-9]+)$ display_resource.php?id=$1
RewriteRule ^pet/([0-9]+)$ display_pet.php?id=$1
RewriteRule ^npc/([0-9]+)$ display_npc.php?id=$1

ErrorDocument 404 /404.php

php_value error_reporting 8191
php_flag display_errors on
